<section class="businessForm">

  <h2 class="formHeading">Register Business:</h2>

  <form [formGroup]="businessForm" (ngSubmit)="onSubmit()" class="applyForm">
    <div class="form-group">
      <label>Company Name</label>
      <input id="companyNameInput" formControlName="name" />
      <div *ngIf="businessForm.get('name')?.invalid && businessForm.get('name')?.touched">
        Company Name is required!
      </div>
    </div>

    <div class="form-group">
      <label>Owner Name</label>
      <input id="ownerNameInput" formControlName="owner"/>
      <div *ngIf="businessForm.get('owner')?.invalid && businessForm.get('owner')?.touched">
        Owner Name is required!
      </div>
    </div>

    <div class="form-group">
      <label>Company Address</label>
      <input id="companyAddressInput" formControlName="address" />
      <div *ngIf="businessForm.get('address')?.invalid && businessForm.get('address')?.touched ">
        Company Address is required!
      </div>
    </div>

    <div class="form-group">
      <label>Company Description</label>
      <input id="companyDescriptionInput" formControlName="description" />
      <div *ngIf="businessForm.get('description')?.invalid && businessForm.get('description')?.touched">
        Company Description is required!
      </div>
    </div>

    <div class="form-group">
      <label>Company Email</label>
      <input id="companyEmailInput" formControlName="email" />
      <div *ngIf="businessForm.get('email')?.invalid && businessForm.get('email')?.touched">
        Company Email is required!
      </div>
    </div>

    <div class="form-group">
      <label>Company Type</label>
      <input id="companyTypeInput" formControlName="companyType" />
      <div *ngIf="businessForm.get('companyType')?.invalid && businessForm.get('companyType')?.touched">
        Company Type is required!
      </div>
    </div>

    <div class="form-group">
    <label>Company Start Date</label>
    <input id="companyStartDateInput" formControlName="startDate" />
    <div *ngIf="businessForm.get('startDate')?.invalid && businessForm.get('startDate')?.touched">
      Company Start Date is required!
    </div>
  </div>

    <button class="submitButton" type="submit" [disabled]="businessForm.invalid">Submit</button>
  </form>

</section>
