<section class="businessForm">

  <h2 class="formHeading">Register Business:</h2>

  <form [formGroup]="businessForm" (ngSubmit)="onSubmit()" class="applyForm">
    <div class="form-group">
      <label>Company Name</label>
      <input id="companyNameInput" formControlName="companyName" />
      <div *ngIf="businessForm.get('companyName')?.invalid && businessForm.get('companyName')?.touched">
        Company Name is required!
      </div>
    </div>

    <div class="form-group">
      <label>Owner Name</label>
      <input id="ownerNameInput" formControlName="ownerName"/>
      <div *ngIf="businessForm.get('ownerName')?.invalid && businessForm.get('ownerName')?.touched">
        Owner Name is required!
      </div>
    </div>

    <div class="form-group">
      <label>Company Address</label>
      <input id="companyAddressInput" formControlName="companyAddress" />\
      <div *ngIf="businessForm.get('companyAddress')?.invalid && businessForm.get('companyAddress')?.touched ">
        Company Address is required!
      </div>
    </div>

    <div class="form-group">
      <label>Company Description</label>
      <input id="companyDescriptionInput" formControlName="companyDescription" />
      <div *ngIf="businessForm.get('companyDescription')?.invalid && businessForm.get('companyDescription')?.touched">
        Company Description is required!
      </div>
    </div>

    <div class="form-group">
      <label>Company Email</label>
      <input id="companyEmailInput" formControlName="companyEmail" />
      <div *ngIf="businessForm.get('companyEmail')?.invalid && businessForm.get('companyEmail')?.touched">
        Company Email is required!
      </div>
    </div>

    <div class="form-group">
      <label>Company Type</label>
      <input id="companyTypeInput" formControlName="companyType" />
      <div *ngIf="businessForm.get('companyType')?.invalid && businessForm.get('companyType')?.touched">
        Company Type is required!
      </div>
    </div>

    <<div class="form-group">
    <label>Company Start Date</label>
    <input id="companyStartDateInput" formControlName="companyStartDate" />
    <div *ngIf="businessForm.get('companyStartDate')?.invalid && businessForm.get('companyStartDate')?.touched">
      Company Start Date is required!
    </div>
  </div>

    <button class="submitButton" type="submit" [disabled]="businessForm.invalid">Submit</button>
  </form>

</section>
