<section class="businessForm">

  <h2 class="formHeading">Register Business:</h2>
  <form class="applyForm">
    <div class="form-group">
      <label>Company Name</label>
      <input id="companyNameInput" />
    </div>
    <div class="form-group">
      <label>Owner Name</label>
      <input id="ownerNameInput" />
    </div>
    <div class="form-group">
      <label>Company Address</label>
      <input id="companyAddressInput" />
    </div>
    <div class="form-group">
      <label>Company Description</label>
      <input id="companyDescriptionInput" />
    </div>
    <div class="form-group">
      <label>Company Email</label>
      <input id="companyEmailInput" />
    </div>
    <div class="form-group">
      <label>Company Type</label>
      <input id="companyTypeInput" />
    </div>
    <div class="form-group">
      <label>Company Start Date</label>
      <input id="companyStartDateInput" />
    </div>
  </form>

</section>
