<!-- businessoverview.component.html -->

<div class="businessSearch">
  <h1 class="searchHeading">Search for business:</h1>
</div>

<div>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="submitForm">

    <mat-form-field>
      <input id="searchInput" matInput type="search" formControlName="nameOrId" placeholder="Enter ID or name">
    </mat-form-field>

    <div class="searchbarButtons">
      <button id="clearButton" mat-raised-button color="primary" class="clearButton" type="submit" [disabled]="false">
        Clear
      </button>
      <button id="submitButton" mat-raised-button color="primary" class="submitButton" type="submit" [disabled]="false">
        Submit
      </button>
    </div>
  </form>
</div>

  <section class="searchResult" *ngIf="searchResult">
    <h2>Business Details:</h2>
    <p>Name: {{searchResult.name}}</p>
    <p>Owner: {{searchResult.owner}}</p>
    <p>Address: {{searchResult.address}}</p>
    <p>Email: {{searchResult.email}}</p>
    <p>Company Type: {{searchResult.companyType}}</p>
    <p>Description: {{searchResult.description}}</p>
    <p>Date Founded: {{searchResult.startDate}}</p>
  </section>
