<!-- businessoverview.component.html -->

<div class="businessSearch">
  <h1 class="searchHeading">Search for business:</h1>
</div>

<div>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="submitForm">

    <mat-form-field>
      <input id="searchInput" matInput type="search" formControlName="nameOrId" placeholder="Enter ID or name">
    </mat-form-field>

    <div class="searchbarButtons">
      <button id="clearButton" mat-raised-button color="primary" class="clearButton" type="submit" [disabled]="false">
        Clear
      </button>
      <button id="submitButton" mat-raised-button color="primary" class="submitButton" type="submit" [disabled]="false">
        Submit
      </button>
    </div>
  </form>
</div>

<div class="resultWrapper">
  <section class="searchResult" *ngIf="searchResult">
    <h2 id="businessDetailsHeader">Business Details:</h2>
    <div class="resultRow">
      <span class="resultLabel">Name:</span>
      <span class="resultValue">{{ searchResult.name }}</span>
    </div>
    <div class="resultRow">
      <span class="resultLabel">Owner:</span>
      <span class="resultValue">{{ searchResult.owner }}</span>
    </div>
    <div class="resultRow">
      <span class="resultLabel">Address:</span>
      <span class="resultValue">{{ searchResult.address }}</span>
    </div>
    <div class="resultRow">
      <span class="resultLabel">Email:</span>
      <span class="resultValue">{{ searchResult.email }}</span>
    </div>
    <div class="resultRow">
      <span class="resultLabel">Company Type:</span>
      <span class="resultValue">{{ searchResult.companyType }}</span>
    </div>
    <div class="resultRow">
      <span class="resultLabel">Description:</span>
      <span class="resultValue">{{ searchResult.description }}</span>
    </div>
    <div class="resultRow">
      <span class="resultLabel">Date Founded:</span>
      <span class="resultValue">{{ searchResult.startDate }}</span>
    </div>
  </section>
</div>
