<!-- businessoverview.component.html -->

<div class="businessSearch">
  <h1 class="searchHeading">Search for business:</h1>
  <mat-form-field>
    <input id="businessSearch" matInput type="search">
  </mat-form-field>
</div>

<div class="searchbarButtons">
  <button id="clearButton" mat-raised-button color="primary" class="clearButton" type="submit" [disabled]="false">Clear</button>
  <button id="submitButton" mat-raised-button color="primary" class="submitButton" type="submit" [disabled]="false">Submit</button>
</div>


<section class="searchResult">
</section>
