/*!* home.component.css *!*/

.home-container {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.goFormButton {
  margin-top: 20px;
}

h1 {
  font-weight: 525;
}
