/*!* home.component.css *!*/

body {
  background-color: #1f1f1f;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcomeStuff {
  margin-top: 50px;
  color: #eeeeee;
}

.goFormButton {
  margin-top: 20px;
}

h1 {
  font-weight: 525;
}
